body {
  margin: 0;
  padding: 0;
}

#tab-container {
  display: flex;
  background-color: #f2f2f2;
  justify-content: center; 
}

.tab {
  overflow: hidden;
  background-color: #f2f2f2;
  text-align: center; 
}

.tab a {
  display: inline-block; 
  color: #333;
  text-align: center;
  padding: 14px 20px; 
  text-decoration: none;
  transition: 0.3s;
}

.tab:hover {
  background-color: #ddd;
}

.tab.active a {
  color: white; 
  background-color: #023368 !important; 
}

.tab-content {
  display: none;
  padding: 20px;
  border: 1px solid #ccc;
}

#tab-container .tab a {
  text-decoration: none !important;
}

#ClassworkTabContent {
  display: block;
}

#tab-container .tab a:hover {
  color: #333 !important; 
}